# Battlecode installation
.installationinformation
Uninstaller
art
bin
doc
lib
maps
music
sound
AllowedPackages.txt
DisallowedClasses.txt
MethodCosts.txt
build.xml
version.txt
bc.conf
teams/examplefuncsplayer

*.class

# Package Files #
*.jar
*.war
*.ear
